/WaterMetricsDATA/
/SystemDesignNotes/
.venv*/
.vscode/
.idea/
.obsidian/
models/weights/
models/checkpoints/
results/*.png
results/*.jpg
runs/
*.pt
__pycache__/
*.pyc
.ipynb_checkpoints/
!results/ocr_pretrained_failures_single_image_pipeline/ultralytics_yolo11m_baseline/

results/ocr_pretrained_failures_yolo*/
results/ocr_pretrained_failures/
*.stackdump
